:host {
    .brand-dark .header-mobile {
        background-color: #1f1fd1 !important;
    }
}

.brand-logo {
    display: flex;
    justify-content: flex-begin;
    align-items: center;

    img {
        height: 30px !important;
        // width: 20px !important;
    }

    span {
        margin-left: .5rem;
        font-size: 1.5rem !important;
        font-weight: bold;
    }
}