<div class="content d-flex flex-column flex-column-fluid" id="kt_content" >
  <div class="row general-row" >
    <div [ngClass]="{  'col-md-9  ml-35' : isVisible(['ROLE_MANAGER','ROLE_DIRECTEUR']) , 'col-md-11  ml-15 ' : isVisible(['ROLE_MANAGER','ROLE_DIRECTEUR'])===false} ">

      
      <!--begin::Row-->
      <div class="row m-0 pl-7">
        <div class="col white col-header-2 hvr-wobble-vertical boder_10   py-2 rounded-xl mr-7 mb-7 primary_clr">
                <span
                  class="svg-icon svg-icon-3x svg-icon-primary d-block my-2"
                >
                  <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                  <h6><span class="very-big-font">[{{nbCongeMois}}]</span> / MOIS</h6>
                  <br>
                  <!--end::Svg Icon-->
                </span>
                <a class="font-weight-bold" style=" text-decoration: none;"
                  ><h4>CONGES</h4></a
                >
        </div>
        <div class="col col-header-1 white hvr-wobble-vertical boder_10  py-2 rounded-xl mr-7 mb-7 primary_clr" 
        *ngIf="conges$ | async as congeState" [ngSwitch]="congeState.state">
           <div *ngSwitchCase="StateEnum.LOADED">
              <span
                class="svg-icon svg-icon-3x svg-icon-warning d-block my-2"
              >
                <h6><span class="very-big-font">[{{congeState.data.length}}]</span> / ANNEE</h6>
                <br>
                <!--end::Svg Icon-->
              </span>
              <a class="col-xs-2 font-weight-bold" style=" text-decoration: none;"
                ><h6>CONGES</h6> 
              </a>
           </div>
           <div  *ngSwitchCase="StateEnum.LOADING">
            <div class="d-flex justify-content-center">
              <div class="spinner spinner-primary spinner-lg"></div>
            </div>
           </div>
        </div>
        <div class="col white col-header-3 hvr-wobble-vertical  py-2 boder_10 rounded-xl mr-7 mb-7 primary_clr">
                <span
                  class="svg-icon svg-icon-3x svg-icon-success d-block my-2"
                >
                  <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Urgent-mail.svg-->
                  <h6><span class="very-big-font">[{{nbRappelMois}}]</span> / MOIS</h6>
                  <br>
                  <!--end::Svg Icon-->
                </span>
                <div class="row">
                  <a class="col-xs-2 col-sm-12 font-weight-bold" style=" text-decoration: none;"
                  ><h4>RAPPELS</h4>
                </a>
                </div>
        </div>
        <div class="col white col-header-4 hvr-wobble-vertical boder_10   py-2 rounded-xl mr-7 mb-7 primary_clr">
                <span
                  class="svg-icon svg-icon-3x svg-icon-danger d-block my-2"
                >
                  <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
                 <h6><span class="very-big-font">[{{nbRappelAn}}]</span>/ ANNEE</h6>
                 <br> 
                  <!--end::Svg Icon-->
                </span>
                <a class="font-weight-bold" style="text-decoration: none;"
                  ><h4>RAPPELS</h4>
                </a>
        </div>
      </div>
      <!--end::Row-->

    </div>
    <!--end::Dashboard-->
  </div> 

 
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Education-->
            <div class="d-flex flex-column flex-md-row">
                <!--end::Aside-->
                <!--begin::Content-->
                
                
                <!--begin tableau -->
                <div 
                [ngClass]="{  'flex-md-row-fluid col-md-10 ml-20' : isVisible(['ROLE_MANAGER','ROLE_DIRECTEUR']) , 'flex-md-row-fluid col-md-7' : isVisible(['ROLE_MANAGER','ROLE_DIRECTEUR'])===false} ">
                  <!--begin liste -->
                  <div class="card card-custom gutter-b">
                    <div class="position-relative">
                      <ul class="nav nav-tabs nav-tabs-line px-8" role="tablist">
                        <!--begin::Nav Item-->
                        <li class="nav-item mr-10 mt-4" (click)="setCurrentTab('conges')">
                          <a
                            class="nav-link font-size-h5 font-weight-bold border-2 mx-0"
                            data-toggle="tab"
                            [class.active]="currentTab === 'conges'"
                            >Congés</a
                          >
                        </li>
                        <!--end::Nav Item-->
                        <!--begin::Nav Item-->
                        <li class="nav-item mr-14 mt-4" (click)="setCurrentTab('recuperations')">
                          <a
                            class="nav-link font-size-h5 font-weight-bold border-2 mx-0"
                            data-toggle="tab"
                            [class.active]="currentTab === 'recuperations'"
                            >Récupérations</a
                          >
                        </li>
                        <!--end::Nav Item-->
                        <!--begin::Nav Item-->
                        <li class="nav-item mr-14 mt-4" (click)="setCurrentTab('rappels')">
                          <a
                            class="nav-link font-size-h5 font-weight-bold border-2 mx-0"
                            data-toggle="tab"
                            [class.active]="currentTab === 'rappels'"
                            >Rappels</a
                          >
                        </li>
                        <!--end::Nav Item-->
                      </ul>
                    </div>
                  
                 
                  
                    <ng-container [ngSwitch]="currentTab">
                      <ng-container *ngSwitchCase="'conges'">
                        <app-rlist-conges></app-rlist-conges>
                      </ng-container>
                      <ng-container *ngSwitchCase="'recuperations'">
                        <app-rlist-recup></app-rlist-recup>
                      </ng-container>
                      <ng-container *ngSwitchCase="'rappels'">
                        <app-rlist-rappels></app-rlist-rappels>
                      </ng-container>
                    </ng-container>
                  </div>
                  
                  
                  <!-- fin liste -->
                  
                </div>
                <!--fin tableau-->

                <!--begin::Aside-->
                <div class="" *ngIf="isVisible(['ROLE_AGENT_PAIE', 'ROLE_MANAGER_PAIE','ROLE_DRHT'])">
                
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                      <div class="card-header">
                        <div class="card-title">
                          <h3 class="card-label">Nombre de personne parti en congé par mois </h3>
                        </div>
                      </div>
                      <div class="card-body" style="position: relative;">
                        <div class="chart-wrapper">
                          <canvas baseChart 
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          [colors]="barChartColors"
                          >
                        </canvas>
                      </div>
                      <div class="resize-triggers"><div class="expand-trigger"><div style="width: 571px; height: 418px;"></div></div><div class="contract-trigger"></div></div></div>
                    </div>
                    <!--end::Card-->
                 
                 
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b">
                      <div class="card-header">
                        <div class="card-title">
                          <h3 class="card-label">Nombre de personne parti en congé par direction </h3>
                        </div>
                      </div>
                      <div class="card-body" style="position: relative;">
                        <div class="chart-wrapper">
                          <canvas baseChart 
                          [data]="doughnutChartData"
                          [labels]="doughnutChartLabels"
                          [chartType]="doughnutChartType"
                          [colors]="doughnutChartColors"
                          >
                          
                        </canvas>
                      </div>
                      <div class="resize-triggers"><div class="expand-trigger"><div style="width: 571px; height: 418px;"></div></div><div class="contract-trigger"></div></div></div>
                    </div>
                    <!--end::Card-->
                 
                  
                </div>

                
                <!--end::Content-->
            </div>
          
            <!--end::Education-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

       
 
</div>