.boder_10{
    border-left: 10px solid #203A73;
    
}

.white{
    background-color: white;
}

.primary_clr{
   color:  #203A73;
}

.very-big-font{
    font-size: 30px;
}
.tab-lg{
    
    height: 400px;
}
.tab1-lg{
    
    height: 550px;
}



