:host {
    .form-control.ng-select {
        border: none;
        padding: 0;
    }
}

input[type="radio"] {
    display: none;
}

.radio-label {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    border: 1px solid grey;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background: grey;
    color: #fff;
}
  