<!--begin::Advance Table Widget 4-->
<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header d-flex align-items-center justify-content-between border-0 py-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark"
          >{{ titre }}</span
        >
      </h3>
      <a routerLink="/conges">
        <span class="text-primary"><i class="fas fa-times"></i></span>      
      </a>
    </div>

    <div class="card-body">
      <form [formGroup]="formConge" (ngSubmit)="onSubmitConge()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group"> 
              <ng-select [items]="agents$ | async"
                [virtualScroll]="true"
                bindLabel="nom"
                [readonly]="isEdit"
                bindValue="matricule"
                placeholder="Choisir un agent"
                formControlName="matricule"
              >
              </ng-select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group d-flex">
                <input class="form-control" formControlName="dateDebut" matInput [matDatepicker]="picker" [matDatepickerFilter]="datesFilter" placeholder="Choisir une date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
              <!-- <input type="date" class="form-control form-control-lg" formControlName="dateDebut" placeholder="Choisir une date de congé"> -->
            </div>
          </div>
        </div>
        <div class="d-block w-100 d-flex justify-content-center">
          <button type="submit" [disabled]="formConge.invalid" class="btn btn-primary">Enregistrer</button>
          <button routerLink="/conges" class="btn btn-danger mx-3">Annuler</button>
        </div>
      </form>
    </div>
</div>