<div class="flex-row-fluid ml-lg-8">
    <!--begin::Card-->
    <div class="card card-custom gutter-b" >
        <div class="card-header d-flex align-items-center justify-content-between border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
             
            </h3>
            <a routerLink="/box">
              <span class="text-primary"><i class="fas fa-times"></i></span>      
            </a>
        </div>
        <div class="card-body p-0" id="toPrint">
            <!-- begin: Invoice-->
            <!-- begin: Invoice header-->
            <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0" >
                <div class="col-md-10">
                    <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                         <!--begin::Logo-->
                         <div class="pic">
                            <img alt="Pic" src="assets/media/logos/sne.png">
                        </div>
                    <!--end::Logo-->
                        <div class="d-flex flex-column align-items-md-end px-0 pt-30">
                           
                            <span class=" d-flex flex-column ">
                                <h2 class="">Dakar, le .................</h2>
                                
                            </span>
                        </div>
                    </div>
                   
                    <div >
                        <span class="lib ml-20"> DIRECTION</span> :<span class="font-weight-bolder res "> RESSOURCES HUMAINES DE LA TRANSFORMATION </span>
                    </div>
                    <div class="mt-10">
                        <span class="lib ml-20"> Service</span> :<span class="font-weight-bolder res "> Administration Personnel et Paie </span>
                    </div>
                </div>
            </div>
            <!-- end: Invoice header-->
            <div  class="tex mt-15">
               ATTESTATION REPRISE
            </div>

            <div  class=" corps mt-5 ml-40 ">
                Je Soussigné  <span class="am">SEN'EAU,</span> <span class="am">HANN </span> <span class="am">DAKAR</span>  attestons que
                 ........................Matricule N°...................... a repris service le ....................conformément à sa décision de congé.
             </div>
             <div class="che mt-20 ">
                Le Chef de Service
            </div>

            <hr class="mt-40">
            <div class=" mt-5 text-center font-weight-bolder font-size-h4 ">
                SEN'EAU
            </div>
            <div class="  text-center font-weight-bolder font-size-h6 ">
              Centre de Hann-route du Front de Terre-BP 4945-DAKAR-Téléphone(221)839 37 37-Télécopie(221)839 37 05 Email:
            </div>
            <div class="  text-center  font-size-h6 " style="text-decoration: underline;">
                seneau@seneau.sn
              </div>
              <div class="  text-center font-size-h6 ">
                S.A. au capital de 6 000 000 000 FCFA R.c.SN DKR. 2019.B.36946 NINEA 0077045 2G3
              </div>
            <!-- begin: Invoice action-->
           
            
            <!-- end: Invoice action-->
            <!-- end: Invoice-->
        </div>
     
        <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
            <div class="col-md-9">
                <div class="d-flex justifycontent-between">
                    <!-- <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.print();">Télécharger</button>- -->
                    <button type="button" class="btn btn-primary font-weight-bold" printSectionId="toPrint" printTitle="Attestation" [useExistingCss]="true" ngxPrint>Exporter</button>
                </div>
            </div>
        </div>
     
    </div>
    <!--end::Card-->

    
</div>
