.pic img{
    height: 200px;
    
}

.autor{
  font-size: 2em;
  text-align: center;
}
.lib{
    font-weight: bold;
    font-size: 1.5em;
    left: 0;
    text-decoration: underline;
}
.res{
    font-weight: bold;
    font-size: 2em;
}
.dir{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}
.pla{
    font-weight: bold;
    font-size: 1em;
}
.corps{
    
    font-size: 2em;
    margin: auto;

}
.tex{
    font-weight: bold;
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
}

.tex{
    font-size: 1.5em;
}
.am{
    font-weight: bold;
    font-size: 1em;
    margin-left: 15px;

}
.che{
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 70%;
   

}

hr{
  width: 80%; 
  height: 1px;
  background-color: black;

}

