<ng-container
*ngIf="conges$ | async as congeState"
[ngSwitch]="congeState.state"
>
<!-- LOADING -->
<ng-container *ngSwitchCase="StateEnum.LOADING">
  <div class="d-flex justify-content-center">
    <div class="spinner spinner-primary spinner-lg"></div>
  </div>
</ng-container>
<!-- END LOADING -->

<!-- LOADED -->
<ng-container *ngSwitchCase="StateEnum.LOADED">
  <!-- DATA EXISTS -->
  <ng-container *ngIf="congeState.data.length > 0; else noData">
    <!-- begin filtre et recherche  -->
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-lg-12 col-xl-12">
          <div class="row align-items-center">
            <div class="col-md-3 my-2 my-md-0">
              <span class="text-primary font-weight-bold">Rechercher </span>
            </div>
            <div class="col-md-6 my-2 my-md-0">
              <div class="input-icon">
                <input
                  type="text"
                  class="form-control form-control-solid"
                  placeholder="Taper le nom ..."
                  id="kt_datatable_search_query"
                  name="searchInput"
                  [(ngModel)]="searchInput"
                  (input)="search($event.target.value)"
                />
                <span>
                  <i class="flaticon2-search-1 text-muted"></i>
                </span>
              </div>
            </div>

            <div class="col-md-3 my-2 my-md-0">
              <ng-select [items]="months"
              bindLabel="libelle"
              bindValue="value"
              placeholder="Choisir un mois"
              name="dateInput"
              [(ngModel)]=dateInput
              (change)="searchDate($event)"
             
            >
          </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin filtre et recherche -->

    <!--begin::Body-->

    <div class="card-body pt-0 pb-3">
      <div class="tab-content">
        <!--begin::Table-->
        <div [ngClass]="{  'table-responsive tab-lg' : isVisible(['ROLE_MANAGER']) , 'table-responsive tab1-lg ' : isVisible(['ROLE_MANAGER'])===false} ">
          
          <table
            class="
              table
              table-head-custom
              table-head-bg
              table-borderless
              table-vertical-center
            "
          >
            <thead>
              <tr class="text-left text-uppercase">
                <th style="min-width: 100px">Matricule</th>
                <th *ngIf="isVisible(['ROLE_AGENT_PAIE', 'ROLE_MANAGER_PAIE', 'ROLE_DRHT'])">Direction</th>
                <th style="min-width: 250px" class="pl-7">
                  <span class="text-dark-75">Nom Complet</span>
                </th>
                <!-- <th>Date</th> -->
                <th style="min-width: 80px">Nb jour congé </th>
                <!-- <th style="min-width: 80px">Nb jour récupération </th> -->
                
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let c of congeState.data
                  | listFilter : searchInput
                  | datesearch: dateInput
                  | slice: (page-1) * pageSize : page * pageSize
                "
              >
              <!-- <tr
                *ngFor="
                  let c of congeState.data
                    | listFilter : searchInput
                    | datesearch: dateInput
                    | slice: (page-1) * pageSize : page * pageSize
                "
              > -->
                <td class="py-4">
                  <div class="d-flex align-items-center">
                    <div>
                      <span
                        class="
                          text-dark-75
                          font-weight-bolder
                          d-block
                          font-size-lg
                        "
                        >{{ c['matricule'] }}</span
                      >
                    </div>
                  </div>
                </td>
                <td *ngIf="isVisible(['ROLE_AGENT_PAIE', 'ROLE_MANAGER_PAIE', 'ROLE_DRHT'])">{{ c.agent.direction}}</td>
                <td>
                  <a
                    href="#"
                    class="
                      text-dark-75
                      font-weight-bolder
                      text-hover-primary
                      font-size-lg
                    "
                    >{{ c.agent.nom }}
                  </a>
                </td>
              
              
              <!-- <td>{{ c.dateDebut}}</td> -->
                <td class="text-center">
                  {{ c['nombreJourConge']}}
                  
                </td>
                <!-- <td class="text-center">
                  0
                  
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!--end::Table-->
            <!-- debut pagination -->
                
            <div class=" d-flex justify-content-center ">
              <div>
                <ngb-pagination
                  [collectionSize]="collectionSize !=0 ? collectionSize : item.length"
                  [(page)]="page"
                  [maxSize]="5" 
                  [pageSize]="pageSize"
                  [boundaryLinks]="true"
                ></ngb-pagination>
              </div>
            </div>
          
      
            <!-- fin pagination -->
            <div class="dropdown dropdown-inline mr-2">
              <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" 
              (click)="exportAsXLSX()" >
              <span class="svg-icon svg-icon-md">
                  <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                          <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                      </g>
                  </svg>
                  <!--end::Svg Icon-->
              </span>Exporter</button>
          </div>
      </div>
    </div>

  </ng-container>
  <!-- END DATA EXISTS -->
  <ng-template #noData>
      <div class="text-center">
        <p>La liste est vide</p>
      
      </div>
    </ng-template>
</ng-container>
<ng-container *ngSwitchCase="StateEnum.ERROR">
  <div class="alert alert-danger">{{ congeState.errorMessage }}</div>
</ng-container>
</ng-container>