<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div
      class="
        card-header
        d-flex
        align-items-center
        justify-content-between
        border-0
      "
    >
      <ul class="nav nav-pills nav-pills-sm nav-dark-75">
        <li
          class="nav-item"
          [style.cursor]="'pointer'"
        >
          <a
            class="nav-link py-2 px-4"
            [class.active]="currentTab === 'Reportingconge'"
            data-toggle="tab"
            (click)="setCurrentTabC('Reportingconge')"
            routerLink="/reporting/dashboard/conge"
            >Conges</a
          >
        </li>
        <li
          class="nav-item"
         
          [style.cursor]="'pointer'"
        >
          <a
            class="nav-link py-2 px-4"
            [class.active]="currentTab === 'deplacement'"
            data-toggle="tab"
            (click)="setCurrentTab('deplacement')"
            routerLink="/reporting/dashboard/deplacement"
            >Déplacement</a
          >
        </li>
      </ul>
    </div>
    <!--end::Header-->
  </div>

  <router-outlet></router-outlet>
