<div class="card card-custom gutter-b">
  <div class="position-relative">
    <ul class="nav nav-tabs nav-tabs-line px-8" role="tablist">
      <!--begin::Nav Item-->
      <li class="nav-item mr-10 mt-4" (click)="setCurrentTab('conges')">
        <a
          class="nav-link font-size-h5 font-weight-bold border-2 mx-0"
          data-toggle="tab"
          [class.active]="currentTab === 'conges'"
          >Congés</a
        >
      </li>
      <!--end::Nav Item-->
      <!--begin::Nav Item-->
      <li class="nav-item mr-14 mt-4" (click)="setCurrentTab('recuperations')">
        <a
          class="nav-link font-size-h5 font-weight-bold border-2 mx-0"
          data-toggle="tab"
          [class.active]="currentTab === 'recuperations'"
          >Récupérations</a
        >
      </li>
      <!--end::Nav Item-->
      <!--begin::Nav Item-->
      <li class="nav-item mr-14 mt-4" (click)="setCurrentTab('rappels')">
        <a
          class="nav-link font-size-h5 font-weight-bold border-2 mx-0"
          data-toggle="tab"
          [class.active]="currentTab === 'rappels'"
          >Rappels</a
        >
      </li>
      <!--end::Nav Item-->
    </ul>
  </div>

  <!--begin::Header-->
  <div
    class="
      card-header
      d-flex
      align-items-center
      justify-content-between
      border-0
      py-5
    "
  >
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark"
        >Validations {{ currentTab }}</span
      >
    </h3>
  </div>
  <!--end::Header-->

  <ng-container [ngSwitch]="currentTab">
    <ng-container *ngSwitchCase="'conges'">
      <app-conges-validation></app-conges-validation>
    </ng-container>
    <ng-container *ngSwitchCase="'recuperations'">
      <app-recuperations-validation></app-recuperations-validation>
    </ng-container>
    <ng-container *ngSwitchCase="'rappels'">
      <app-rappels-validation></app-rappels-validation>
    </ng-container>
  </ng-container>
</div>
