<div class="flex-row-fluid ml-lg-8">
    <!--begin::Card-->
    <div class="card card-custom gutter-b">
        <div class="card-header d-flex align-items-center justify-content-between border-0 py-5">
            <h3 class="card-title align-items-start flex-column">
             
            </h3>
            <a routerLink="/box">
              <span class="text-primary"><i class="fas fa-times"></i></span>      
            </a>
          </div>
        <div class="card-body p-0">
            <!-- begin: Invoice-->
            <!-- begin: Invoice header-->
            <div class="row justify-content-center py-8 px-8 py-md-27 px-md-0" id="toPrint">
                <div class="col-md-10">
                    <div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                        <div class="d-flex flex-column align-items-md-start px-0">
                            <!--begin::Logo-->
                                <div class="pic">
                                    <img alt="Pic" src="assets/media/logos/seneau_logo_1.png">
                                </div>
                            <!--end::Logo-->
                            
                                <span class="lib"> DRH/SERVICE PAIE</span>
                            
                        </div>
                    </div>
                    <div class="autor">
                        AUTORISATION DE CONGES N°  0001/ 001 /12/2020  
                    </div>
                    <div class="dir mt-10">
                         LE DIRECTEUR DES RESSOURCES HUMAINES ET DE LA TRANSFORMATION DE SEN'EAU
                    </div>
                    <div class="pla mt-10">
                        Vu le planning de congé de la Direction concernée,<br>
                        Vu la demande de l'intéréssé(e)
                   </div>

                   <div class="aut mt-10 mb-10 ">
                       AUTORISATION

                   </div>
                   <div class="row">
                    <div class="col-md-2 pl-0 pt-7 font-weight-boldest font-size-lg">
                        Article 1
                      </div>
                      <div class="col-md-10 pl-0 pt-7   font-size-lg">
                        Un congé de 033 jours ouvrables, pour compter du 01 / 12 / 2020 est
                        accordé à Mme FATOU BINETOU NIANG NDIAY Mle 14314
                        Equipe 0010 Direction Générale
                        pour services accomplis du 04 / 12 / 2019 au 30 / 11 / 2020
                    </div> 
                   </div>
                   <div class="row">
                    <div class="col-md-2 pl-0 pt-7 font-weight-boldest font-size-lg">
                        Article 2
                      </div>
                      <div class="col-md-10 pl-0 pt-7   font-size-lg">
                        Mme FATOU BINETOU NIANG NDIAY percevra une allocation de congé
                        pour la période d'absence du 01 / 12 / 2020 au 09 / 01 / 2021
                    </div> 
                   </div>
                   <div class="row">
                    <div class="col-md-2 pl-0 pt-7 font-weight-boldest font-size-lg">
                        Article 3
                      </div>
                      <div class="col-md-10 pl-0 pt-7   font-size-lg">
                        Mme FATOU BINETOU NIANG NDIAY
                        reprendra son service le  <span class="font-weight-boldest font-size-lg"> 10 / 01 / 2021 </span>
                    </div> 
                   </div>
                   <div class="row">
                    <div class="col-md-2 pl-0 pt-7 font-weight-boldest font-size-lg">
                        Article 4
                      </div>
                      <div class="col-md-10 pl-0 pt-7   font-size-lg">
                        Le Directeur ou le Chef de Service fera parvenir aux Services Administration
                        du Personnel & Paie et Développement, une Attestation de reprise de travail.
                    </div> 
                   </div>

                   <div class="row">
                    <div class="col-md-12  pt-30  font-size-lg text-right ">
                        DAKAR, LE 30 / 11 / 2020  <br> CHEF DU SERVICE ADMINISTRATION DU  PERSONNEL ET PAIE
                    </div>
                       
                   </div>

                   <div class="row">
                    <div class="col-md-2 pl-0 pt-7 font-weight-boldest font-size-lg am">
                        Ampilations
                      </div>
                    
                   </div>
                   <div class="row">
                    <div class="col-md-4 pl-0 pt-7 font-weight-boldest font-size-lg ">
                        -Direction intéressée  (1)
                      </div>
                    
                   </div>
                   <div class="row">
                    <div class="col-md-4 pl-0 pt-7 font-weight-boldest font-size-lg ">
                        -Intéressée  (1)
                      </div>
                    
                   </div>
                   <div class="row">
                    <div class="col-md-4 pl-0 pt-7 font-weight-boldest font-size-lg ">
                        -Dossier Individuel  (1)
                      </div>
                      <div class="col-md-8 pl-0 pt-7  text-right font-size-lg ">
                        Ibrahima Yamar Gueye
                      </div>
                    
                   </div>
                  
                </div>
                
            </div>

            <div class="row  justify-content-center ">
                
               
             
        </div>
            <!-- end: Invoice header-->
         
            <!-- end: Invoice footer-->
            <!-- begin: Invoice action-->
            <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                <div class="col-md-10">
                    <div class="d-flex justify-content-between">
                   
                        <!-- <button type="button" class="btn btn-primary font-weight-bold" onclick="window.print();">Exporter</button>
                         -->
                        <button type="button" class="btn btn-primary font-weight-bold" printSectionId="toPrint" printTitle="Autorisation" [useExistingCss]="true" ngxPrint>Exporter</button>
                    </div>
                </div>
            </div>
            <!-- end: Invoice action-->
            <!-- end: Invoice-->
        </div>
    </div>
    <!--end::Card-->
</div>


<!-- fichier attetstation de congé   -->
    
<!-- fin fichier attetstation de congé  -->