.pic img{
    height: 200px;
}

.autor{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  border: 2px solid black; 
  box-shadow: 2px 2px  4px black;
}
.lib{
    font-weight: bold;
    font-size: 1em;
    left: 0;
}
.dir{
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}
.pla{
    font-weight: bold;
    font-size: 1em;
}
.aut{
    font-weight: bold;
    font-size: 1em;
    background-color: #B2B2B2;
    text-align: center;
    width: 15%;
    margin: auto;

}
.tex{
    text-align: center;
}
.am{
    text-decoration: underline;
}

