.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-0.240000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.096000px;}
.ls6{letter-spacing:0.120000px;}
.ls7{letter-spacing:0.173200px;}
.ls5{letter-spacing:0.203600px;}
.ls2{letter-spacing:0.227600px;}
.ls3{letter-spacing:0.240000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-6.368000px;}
._2{margin-left:-1.015680px;}
._0{width:1.115520px;}
._b{width:3.784000px;}
._4{width:28.728000px;}
._d{width:61.952480px;}
._c{width:65.228000px;}
._6{width:88.792000px;}
._1{width:90.536000px;}
._3{width:93.920000px;}
._9{width:103.512000px;}
._7{width:126.248000px;}
._5{width:129.584000px;}
._a{width:130.728000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:39.840000px;}
.fs3{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:56.160000px;}
.y1{bottom:0.000000px;}
.y2f{bottom:74.184000px;}
.y2e{bottom:85.584000px;}
.y2d{bottom:97.104000px;}
.y0{bottom:106.500000px;}
.y2c{bottom:108.620000px;}
.y2b{bottom:120.380000px;}
.y2a{bottom:133.100000px;}
.y29{bottom:145.700000px;}
.y28{bottom:158.420000px;}
.y27{bottom:171.020000px;}
.y26{bottom:183.860000px;}
.y25{bottom:197.660000px;}
.y24{bottom:211.460000px;}
.y23{bottom:225.290000px;}
.y22{bottom:239.090000px;}
.y21{bottom:252.890000px;}
.y20{bottom:266.690000px;}
.y1f{bottom:280.490000px;}
.y1e{bottom:294.650000px;}
.y1d{bottom:310.370000px;}
.y1c{bottom:324.170000px;}
.y1b{bottom:337.970000px;}
.y1a{bottom:351.770000px;}
.y19{bottom:365.570000px;}
.y18{bottom:379.370000px;}
.y17{bottom:393.170000px;}
.y16{bottom:406.990000px;}
.y15{bottom:420.790000px;}
.y14{bottom:434.590000px;}
.y13{bottom:448.390000px;}
.y12{bottom:462.190000px;}
.y11{bottom:475.990000px;}
.y10{bottom:489.550000px;}
.yf{bottom:502.390000px;}
.ye{bottom:516.190000px;}
.yd{bottom:529.990000px;}
.yc{bottom:543.790000px;}
.yb{bottom:557.590000px;}
.ya{bottom:570.910000px;}
.y9{bottom:582.460000px;}
.y8{bottom:593.980000px;}
.y7{bottom:613.300000px;}
.y6{bottom:635.620000px;}
.y5{bottom:647.020000px;}
.y4{bottom:658.540000px;}
.y3{bottom:670.060000px;}
.y2{bottom:679.420000px;}
.y30{bottom:761.760000px;}
.h3{height:41.415703px;}
.h2{height:42.057656px;}
.h7{height:45.906562px;}
.h5{height:49.898438px;}
.h6{height:50.671875px;}
.h4{height:59.286094px;}
.h1{height:665.000000px;}
.h0{height:841.920000px;}
.w1{width:467.500000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.x0{left:65.500000px;}
.x3{left:70.823991px;}
.x4{left:138.859991px;}
.x6{left:141.379991px;}
.x2{left:161.179991px;}
.x5{left:254.569991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-0.320000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.128000pt;}
.ls6{letter-spacing:0.160000pt;}
.ls7{letter-spacing:0.230933pt;}
.ls5{letter-spacing:0.271467pt;}
.ls2{letter-spacing:0.303467pt;}
.ls3{letter-spacing:0.320000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-8.490667pt;}
._2{margin-left:-1.354240pt;}
._0{width:1.487360pt;}
._b{width:5.045333pt;}
._4{width:38.304000pt;}
._d{width:82.603307pt;}
._c{width:86.970667pt;}
._6{width:118.389333pt;}
._1{width:120.714667pt;}
._3{width:125.226667pt;}
._9{width:138.016000pt;}
._7{width:168.330667pt;}
._5{width:172.778667pt;}
._a{width:174.304000pt;}
.fs0{font-size:53.120000pt;}
.fs3{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:74.880000pt;}
.y1{bottom:0.000000pt;}
.y2f{bottom:98.912000pt;}
.y2e{bottom:114.112000pt;}
.y2d{bottom:129.472000pt;}
.y0{bottom:142.000000pt;}
.y2c{bottom:144.826667pt;}
.y2b{bottom:160.506667pt;}
.y2a{bottom:177.466667pt;}
.y29{bottom:194.266667pt;}
.y28{bottom:211.226667pt;}
.y27{bottom:228.026667pt;}
.y26{bottom:245.146667pt;}
.y25{bottom:263.546667pt;}
.y24{bottom:281.946667pt;}
.y23{bottom:300.386667pt;}
.y22{bottom:318.786667pt;}
.y21{bottom:337.186667pt;}
.y20{bottom:355.586667pt;}
.y1f{bottom:373.986667pt;}
.y1e{bottom:392.866667pt;}
.y1d{bottom:413.826667pt;}
.y1c{bottom:432.226667pt;}
.y1b{bottom:450.626667pt;}
.y1a{bottom:469.026667pt;}
.y19{bottom:487.426667pt;}
.y18{bottom:505.826667pt;}
.y17{bottom:524.226667pt;}
.y16{bottom:542.653333pt;}
.y15{bottom:561.053333pt;}
.y14{bottom:579.453333pt;}
.y13{bottom:597.853333pt;}
.y12{bottom:616.253333pt;}
.y11{bottom:634.653333pt;}
.y10{bottom:652.733333pt;}
.yf{bottom:669.853333pt;}
.ye{bottom:688.253333pt;}
.yd{bottom:706.653333pt;}
.yc{bottom:725.053333pt;}
.yb{bottom:743.453333pt;}
.ya{bottom:761.213333pt;}
.y9{bottom:776.613333pt;}
.y8{bottom:791.973333pt;}
.y7{bottom:817.733333pt;}
.y6{bottom:847.493333pt;}
.y5{bottom:862.693333pt;}
.y4{bottom:878.053333pt;}
.y3{bottom:893.413333pt;}
.y2{bottom:905.893333pt;}
.y30{bottom:1015.680000pt;}
.h3{height:55.220937pt;}
.h2{height:56.076875pt;}
.h7{height:61.208750pt;}
.h5{height:66.531250pt;}
.h6{height:67.562500pt;}
.h4{height:79.048125pt;}
.h1{height:886.666667pt;}
.h0{height:1122.560000pt;}
.w1{width:623.333333pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.x0{left:87.333333pt;}
.x3{left:94.431988pt;}
.x4{left:185.146655pt;}
.x6{left:188.506655pt;}
.x2{left:214.906655pt;}
.x5{left:339.426655pt;}
}
