<!-- splash screen -->
<div #splashScreen id="splash-screen">
  <img src="./assets/images/Logo_sen_eau.png" alt="SenRH" />
  <svg class="splash-spinner" viewBox="0 0 50 50" color="red">

    <circle
      class="path"
      cx="25"
      cy="25"
      r="20"
      fill="none"
      stroke-width="5"
    ></circle>
  </svg>
</div>
