<div class="row">
  <div class="col-12 col-md-8">
    <div class="card card-custom">
      <div class="card-header card-header-tabs-line">
        <div class="card-title">
          <h3 class="card-label">Historiques récupérations</h3>
        </div>
        <div class="card-toolbar">
          Etat
        </div>
      </div>

      <ng-container *ngIf="recupState$ | async as recupState" [ngSwitch]="recupState.state">
        <ng-container *ngSwitchCase="StateEnum.LOADING">
          <div class="d-flex justify-content-center">
            <div class="spinner spinner-primary spinner-lg"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="StateEnum.LOADED">
          <ng-container *ngIf="recupState.data.length > 0; else noData">
            <div class="card-body pt-0 pb-3">
              <div class="tab-content">
                <!--begin::Table-->
                <div class="table-responsive tab-lg">
                  <table
                    class="
                      table
                      table-head-custom
                      table-head-bg
                      table-borderless
                      table-vertical-center
                    "
                  >
                    <thead>
                      <tr class="text-left text-uppercase">
                        <th style="min-width: 100px">Date départ</th>
                        <th style="min-width: 100px">Nombre de jour</th>
                        <th style="min-width: 250px" class="pl-7">
                          <span class="text-dark-75">Motif</span>
                        </th>
                        <th style="min-width: 100px">Etat</th>
                        <th style="min-width: 100px">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let recup of recupState.data | slice: (page-1) * pageSize : page * pageSize  ">
                        <td>
                          <span class="font-weight-bolder text-primary mb-0">
                            {{ recup.dateRecup | date:"dd/MM/YYYY"}}
                          </span>
                        </td>
                        <td class="text-center">
                          <span class="font-weight-bolder mb-0">
                            {{ recup.nbrJour }}
                          </span>
                        </td>
                        <td
                          class="
                            text-dark-75
                            font-weight-bolder
                            text-hover-primary
                            font-size-lg
                          "
                          >
                          {{ recup.motif}}
                        </td>
                        <td>
                          <ng-container [ngSwitch]="recup.tracker.step">
                            <span *ngSwitchCase="1" class="label label-lg label-light-warning label-inline">En cours</span>
                            <span *ngSwitchCase="0" class="label label-lg label-light-danger label-inline">Rejetée</span>
                            <span *ngSwitchCase="2" class="label label-lg label-light-success label-inline">Validée</span>
                            <span *ngSwitchCase="3" class="label label-lg label-success label-inline">Clôturée</span>
                          </ng-container>
                        </td>
                        <td>
                          <button 
                            class="btn btn-outline-secondary"
                            data-toggle="tooltip"
                            title="Modif Recup"
                            [disabled]="!recup.canRecup"
                            (click)="updateRecup(recup)"
                          >
                            <span class="svg-icon svg-icon-md svg-icon-primary">
                              <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Settings-1.svg-->
                              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <rect x="0" y="0" width="24" height="24"></rect>
                                  <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                  <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                </g>
                              </svg>
                              <!--end::Svg Icon-->
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!--end::Table-->
                  <!-- debut pagination -->
             
                      <div class=" d-flex justify-content-center ">
                        <div>
                          <ngb-pagination
                            [collectionSize]="recupState.data.length"
                            [(page)]="page"
                            [maxSize]="5" 
                            [pageSize]="pageSize"
                            [boundaryLinks]="true"
                          ></ngb-pagination>
                        </div>
                      </div>
       
   
        <!-- fin pagination -->
              </div>
            </div>
          </ng-container>
          <ng-template #noData>
            <div class="text-center">
                <p>Vous n'avez pas encore de recup.</p>
              </div>
          </ng-template>
        </ng-container>
        <ng-container *ngSwitchCase="StateEnum.ERROR">
          <p>{{ recupState.errorMessage }}</p>
        </ng-container>
      </ng-container>
      
    </div>
  </div>
  <div class="col-12 col-md-4">
    <!-- <div class="card card-custom rounded-xl bg-secondary">
      <div class="card-body d-flex justify-content-center py-5">
        <h3 class="text-white">
          <span class="icon">
            <i class="flaticon2-chronometer text-white"></i>
          </span>
          Compteur : {{ nombreJourRecup() }} {{ nombreJourRecup() > 1 ? 'jours' : 'jour' }}
        </h3>
      </div>
    </div> -->
    <div class="card card-custom">
      <div class="card-header d-flex justify-content-between border-0 pt-5">
        <h3>Demande de récupération</h3>
        <span class="font-weight-bolder label label-light-primary label-inline px-3 py-5">{{ nombreJourRecup() }} {{ nombreJourRecup() > 1 ? 'jours' : 'jour' }}</span>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger m-3">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="card-body">
        <form [formGroup]="formRecup" (ngSubmit)="onSubmitRecup()">
          <div class="form-group">
            <label for="">Nombre de jours</label>
            <input type="number" class="form-control" formControlName="nbrJour" placeholder="Choisir le nombre de jours">
          </div>
          
          <div class="form-group">
            <label>Date de départ</label>
            <div class="d-flex">
              <input class="form-control" formControlName="dateRecup"  matInput [matDatepicker]="picker" [matDatepickerFilter]="datesFilter" placeholder="Choisir une date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </div>
          </div>

          <div class="form-group">
            <label for="">Motif</label>
            <textarea class="form-control" formControlName="motif" placeholder="Ecrire le motif de la récupération"></textarea>
          </div>

          <div class="form-group float-right">
            <button [disabled]="formRecup.invalid" class="btn btn-light-secondary">Enregistrer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
