<ng-container
*ngIf="conges$ | async as congeState"
[ngSwitch]="congeState.state"
>
<!-- LOADING -->
<ng-container *ngSwitchCase="StateEnum.LOADING">
  <div class="d-flex justify-content-center">
    <div class="spinner spinner-primary spinner-lg"></div>
  </div>
</ng-container>
<!-- END LOADING -->

<!-- LOADED -->
<ng-container *ngSwitchCase="StateEnum.LOADED">
  <!-- DATA EXISTS -->
  <ng-container *ngIf="congeState.data.length > 0; else noData">
    <!-- begin filtre et recherche  -->
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-lg-12 col-xl-12">
          <div class="row align-items-center">
            <div class="col-md-3 my-2 my-md-0">
              <span class="text-primary font-weight-bold">Rechercher </span>
            </div>
            <div class="col-md-6 my-2 my-md-0">
              <div class="input-icon">
                <input
                  type="text"
                  class="form-control form-control-solid"
                  placeholder="Taper le nom ..."
                  id="kt_datatable_search_query"
                  name="searchInput"
                  [(ngModel)]="searchInput"
                  (input)="search($event.target.value)"
                />
                <span>
                  <i class="flaticon2-search-1 text-muted"></i>
                </span>
              </div>
            </div>

            <div class="col-md-3 my-2 my-md-0">
              <ng-select [items]="months"
              bindLabel="libelle"
              bindValue="value"
              placeholder="Choisir un mois"
              name="dateInput"
              [(ngModel)]=dateInput
              (change)="searchDate($event)"
            >
          </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- fin filtre et recherche -->

    <!--begin::Body-->

    <div class="card-body pt-0 pb-3">
      <div class="tab-content">
        <!--begin::Table-->
        <div [ngClass]="{  'table-responsive tab-lg' : isVisible(['ROLE_MANAGER']) , 'table-responsive tab1-lg ' : isVisible(['ROLE_MANAGER'])===false} ">
          
          <table
            class="
              table
              table-head-custom
              table-head-bg
              table-borderless
              table-vertical-center
            "
          >
            <thead>
              <tr class="text-left text-uppercase">
                <th style="min-width: 100px">Matricule</th>
                <th *ngIf="isVisible(['ROLE_AGENT_PAIE', 'ROLE_MANAGER_PAIE', 'ROLE_DRHT'])">Direction</th>
                <th style="min-width: 200px" class="pl-7">
                  <span class="text-dark-75">Nom Complet</span>
                </th>
                <!-- <th>Date</th> -->
                <th style="min-width: 80px">Nb jour Recupération </th>
                <!-- <th style="min-width: 80px">Nb jour récupération </th> -->
                
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let c of item
                    | listFilter : searchInput
                    | datesearch: dateInput
                    | slice: (page-1) * pageSize : page * pageSize
                "
              >
                <td class="py-4">
                  <div class="d-flex align-items-center">
                    <div>
                      <span
                        class="
                          text-dark-75
                          font-weight-bolder
                          d-block
                          font-size-lg
                        "
                        >{{ c.agent.matricule }}</span
                      >
                    </div>
                  </div>
                </td>
                <td *ngIf="isVisible(['ROLE_AGENT_PAIE', 'ROLE_MANAGER_PAIE', 'ROLE_DRHT'])">{{ c.agent.direction}}</td>
                <td>
                  <a
                    href="#"
                    class="
                      text-dark-75
                      font-weight-bolder
                      text-hover-primary
                      font-size-lg
                    "
                    >{{ c.agent.nom }}
                  </a>
                </td>
              
              
              <!-- <td>{{ c.dateDebut}}</td> -->
                <td class="text-center">
                  {{ c['nbrJour']}}
                  
                </td>
                <!-- <td class="text-center">
                  0
                  
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <!--end::Table-->
            <!-- debut pagination -->
                
            <div class=" d-flex justify-content-center ">
              <div>
                <ngb-pagination
                  [collectionSize]="collectionSize !=0 ? collectionSize : item.length"
                  [(page)]="page"
                  [maxSize]="5" 
                  [pageSize]="pageSize"
                  [boundaryLinks]="true"
                ></ngb-pagination>
              </div>
            </div>
          
      
            <!-- fin pagination -->
      </div>
    </div>

  </ng-container>
  <!-- END DATA EXISTS -->
  <ng-template #noData>
      <div class="text-center">
        <p>La liste est vide</p>
      
      </div>
    </ng-template>
</ng-container>
<ng-container *ngSwitchCase="StateEnum.ERROR">
  <div class="alert alert-danger">{{ congeState.errorMessage }}</div>
</ng-container>
</ng-container>