<ng-container
  *ngIf="conges$ | async as congeState"
  [ngSwitch]="congeState.state"
>
  <!-- LOADING -->
  <ng-container *ngSwitchCase="StateEnum.LOADING">
    <div class="d-flex justify-content-center">
      <div class="spinner spinner-primary spinner-lg"></div>
    </div>
  </ng-container>
  <!-- END LOADING -->

  <!-- LOADED -->
  <ng-container *ngSwitchCase="StateEnum.LOADED">
    <!-- DATA EXISTS -->
    <ng-container *ngIf="congeState.data.length > 0; else noData">
      <!-- begin filtre et recherche  -->
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-9 col-xl-8">
            <div class="row align-items-center">
              <div class="col-md-2 my-2 my-md-0">
                <span class="text-primary font-weight-bold">Rechercher </span>
              </div>
              <div class="col-md-6 my-2 my-md-0">
                <div class="input-icon">
                  <input
                    type="text"
                    class="form-control form-control-solid"
                    placeholder="Taper le nom ..."
                    name="searchInput"
                    [(ngModel)]="searchInput"
                    (input)="search($event.target.value)"
                   
                  />
                  <span>
                    <i class="flaticon2-search-1 text-muted"></i>
                  </span>
                </div>
              </div>

              <div class="col-md-4 my-2 my-md-0">
                <ng-select
                  [items]="months"
                  bindLabel="libelle"
                  bindValue="value"
                  placeholder="Choisir un mois"
                  name="dateInput"
                  [(ngModel)]="dateInput"
                  (change)="searchDate($event)"
                  
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin filtre et recherche -->

      <!--begin::Body-->
      <div class="card-body pt-0 pb-3">
        <form [formGroup]="formCongesValidation">
          <div class="tab-content">
            <!--begin::Table-->
            <div class="table-responsive tab-lg">
              <table
                class="
                  table
                  table-head-custom
                  table-head-bg
                  table-borderless
                  table-vertical-center
                "
              >
                <thead>
                  <tr class="text-left text-uppercase">
                    <th class="text-center">
                      <input type="checkbox" (change)="onSelectAll($event, congeState.data)">
                    </th>
                    <th>Matricule</th>
                    <th>
                      <span class="text-dark-75">Nom Complet</span>
                    </th>
                    <th>Date Congé</th>
                    <th>Etat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let conge of congeState.data
                      | listFilter : searchInput
                      | datesearch: dateInput
                      | slice: (page-1) * pageSize : page * pageSize
                    "
                  >
                    <td class="text-center">
                      <input
                        type="checkbox"
                        [checked]="checkAll"
                        [value]="conge.id"
                        (change)="onCheckboxChange($event)"
                      />
                    </td>
                    <td class="py-4">
                      <div class="d-flex align-items-center">
                        <div>
                          <span
                            class="
                              text-dark-75
                              font-weight-bolder
                              d-block
                              font-size-lg
                            "
                            >{{ conge.agent.matricule }}</span
                          >
                        </div>
                      </div>
                    </td>
                    <td
                      class="
                        text-dark-75
                        font-weight-bolder
                        text-hover-primary
                        font-size-lg
                      "
                    >
                      {{ conge.agent.nom }}
                    </td>
                    <td>
                      <span class="font-weight-bolder text-primary mb-0">
                        {{ conge.dateDebut | date: "dd/MM/YYYY" }}
                      </span>
                    </td>
                    <td>
                      <span
                        class="label label-lg label-light-warning label-inline"
                        >{{ conge.tracker.libelle | titlecase }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end::Table-->
             <!-- debut pagination -->
             
         <div class=" d-flex justify-content-center ">
          <div>
            <ngb-pagination
              [collectionSize]="collectionSize !=0 ? collectionSize : item.length"
              [(page)]="page"
              [maxSize]="5" 
              [pageSize]="pageSize"
              [boundaryLinks]="true"
            ></ngb-pagination>
          </div>
        </div>
       
   
        <!-- fin pagination -->
          </div>
          <div class="card-toolbar">
            <button
              type="button"
              (click)="openConfirmation(contentValidation)"
              [disabled]="formCongesValidation.invalid"
              class="btn btn-primary mx-3 font-weight-bold"
            >
              Valider
            </button>
            <button
              type="button"
              (click)="openConfirmation(contentReject)"
              [disabled]="formCongesValidation.invalid"
              class="btn btn-danger font-weight-bolder font-size-sm"
            >
              Rejeter
            </button>
          </div>
        </form>
        <!-- DIALOG CONFIRMATION -->
        <ng-template #contentValidation let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
            <button
              type="button"
              class="btn btn-text"
              (click)="d('Cross click')"
            >
              <span class="text-primary"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <p class="h4">Vous êtes en train de tout valider!!!</p>
            <div class="float-right align-items-end">
              <button
                type="button"
                class="mr-3 btn btn-outline-primary"
                (click)="onValidateOrRejectConges('valid')"
              >
                Confirmer
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="c('Save click')"
              >
                Annuler
              </button>
            </div>
          </div>
        </ng-template>

        <ng-template #contentReject let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
            <button
              type="button"
              class="btn btn-text"
              (click)="d('Cross click')"
            >
              <span class="text-primary"><i class="fas fa-times"></i></span>
            </button>
          </div>
          <div class="modal-body">
            <p class="h4">Vous êtes en train de tout rejeter!!!</p>
            <div class="float-right align-items-end">
              <button
                type="button"
                class="mr-3 btn btn-outline-primary"
                (click)="onValidateOrRejectConges('reject')"
              >
                Confirmer
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="c('Save click')"
              >
                Annuler
              </button>
            </div>
          </div>
        </ng-template>
        <!-- END DIALOG CONFIRMATION -->
      </div>
      <!--end::Body-->
    </ng-container>

    <!-- END DATA EXISTS -->
    <ng-template #noData>
      <div class="text-center">
        <p>Pas de demande en cours...</p>
      </div>
    </ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="StateEnum.ERROR">
    <div class="alert alert-danger">{{ congeState.errorMessage }}</div>
  </ng-container>
</ng-container>
