$bg-color: #203A73;

:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
      background-color: $bg-color !important;
    }
  }
  // .aside-menu {
  //   margin: 0;
  //   background-color: #203A73 !important;
  // }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
}

.aside-brand-bg {
  // background-color: $bg-color !important;
  background-color: darken($bg-color, 5%);
}

.aside-menu {
  background-color: $bg-color !important;
  .menu-item > .menu-link .menu-text {
    color: #cacbdc;
  }
  
  .menu-item.menu-item-active > .menu-link,
  .menu-item.menu-item-open > .menu-link {
    // background-color: #99BC47;
    background-color: darken($bg-color, 10%);
  }
  
  .menu-item .menu-submenu .menu-item > .menu-link:hover,
  // .menu-nav > .menu-item > .menu-heading:hover,
  .menu-nav > .menu-item > .menu-link:hover {
    background-color: darken($bg-color, 10%) !important;
  }
}

