<router-outlet></router-outlet>

<div class="row">
  <div class="col-12 col-md-4">
    <div class="card card-custom bg-primary">
      <div class="card-header d-flex justify-content-center py-5">
        <h3 class="text-white">
          <span class="icon">
            <i class="flaticon2-calendar-1 text-white"></i>
          </span>
          Récupération
        </h3>
      </div>
      <div class="separator separator-solid separator-white opacity-20"></div>
      <div class="card-body">
        <h1 class="text-white text-center days"> 12 jours </h1>
      </div>
    </div>
    <div class="card card-custom my-3">
      <div class="card-header border-0 py-5">
        <h3>Demande de récupération</h3>
      </div>
      <div class="card-body">
        <form>

          <div class="form-group">
            <label for="">Nombre de jours</label>
            <input type="number" class="form-control" placeholder="Choisir le nombre de jours">
          </div>
          
          <div class="form-group">
            <label>Date de départ</label>
            <div class="d-flex">
              <input class="form-control"  matInput [matDatepicker]="picker" [matDatepickerFilter]="" placeholder="Choisir une date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </div>
          </div>

          <div class="form-group">
            <label for="">Motif</label>
            <textarea class="form-control" placeholder="Ecrire le motif de la récupération"></textarea>
          </div>

          <div class="form-group float-right">
            <button class="btn btn-light-secondary">Enregistrer</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="card card-custom">
      <div class="card-header card-header-tabs-line">
        <div class="card-title">
          <h3 class="card-label">Historiques récupérations</h3>
        </div>
        <div class="card-toolbar">
          Etat
        </div>
      </div>
      <div class="card-body pt-0 pb-3">
        <div class="tab-content">
          <!--begin::Table-->
          <div class="table-responsive">
            <table
              class="
                table
                table-head-custom
                table-head-bg
                table-borderless
                table-vertical-center
              "
            >
              <thead>
                <tr class="text-left text-uppercase">
                  <th style="min-width: 100px">Date départ</th>
                  <th style="min-width: 100px">Nombre de jour</th>
                  <th style="min-width: 100px">Date retour</th>
                  <th style="min-width: 250px" class="pl-7">
                    <span class="text-dark-75">Motif</span>
                  </th>
                  <th style="min-width: 130px">Etat</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of [1,2,3]; let i = index">
                  <td>
                    <span class="font-weight-bolder text-primary mb-0">
                      23/04/2021
                    </span>
                  </td>
                  <td class="text-center">
                    <span class="font-weight-bolder mb-0">
                      5
                    </span>
                  </td>
                  <td>
                    <span class="font-weight-bolder text-primary mb-0">
                      30/04/2021
                    </span>
                  </td>
                  <td
                    class="
                      text-dark-75
                      font-weight-bolder
                      text-hover-primary
                      font-size-lg
                    "
                    >
                    Motif de récupération {{ c }}
                  </td>
                  <td>
                    <span class="label label-lg label-light-warning label-inline">En cours</span>
                    <!-- <ng-container [ngSwitch]="c.tracker.step">
                      <span *ngSwitchCase="1" class="label label-lg label-light-warning label-inline">En cours</span>
                      <span *ngSwitchCase="0" class="label label-lg label-light-danger label-inline">Rejetée</span>
                      <span *ngSwitchCase="2" class="label label-lg label-light-success label-inline">Validée</span>
                      <span *ngSwitchCase="3" class="label label-lg label-success label-inline">Clôturée</span>
                    </ng-container> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--end::Table-->
        </div>
      </div>
    </div>
  </div>
</div>
