<router-outlet></router-outlet>

<!--begin::Advance Table Widget 4-->
<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header d-flex align-items-center justify-content-between border-0 py-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark"
          >Liste des employés en congé</span
        >
        <span class="text-muted">Direction: DSI</span>
      </h3>
      
    </div>
    <!--end::Header-->
    <ng-container
    *ngIf="rappels | async as congeState"
    [ngSwitch]="congeState.state"
  >

  <!-- LOADING -->
  <ng-container *ngSwitchCase="StateEnum.LOADING">
    <div class="d-flex justify-content-center">
      <div class="spinner spinner-primary spinner-lg"></div>
    </div>
  </ng-container>
  <!-- END LOADING -->

  <ng-container *ngSwitchCase="StateEnum.LOADED">
    <!-- DATA EXISTS -->
    <ng-container *ngIf="congeState.data.length > 0; else noData">
    <!-- begin filtre et recherche  -->
    <div class="card-body">
        <div class="row align-items-center">
          <div class="col-lg-12 col-xl-12">
            <div class="row align-items-center">

              <div class="col-md-2 my-2 my-md-0">
                <span class="text-primary font-weight-bold" >Rechercher </span>
              </div> 
             <div class="col-md-6 my-2 my-md-0">
               <div class="input-icon">
                <input
                type="text"
                class="form-control form-control-solid"
                placeholder="Taper le nom ..."
                id="kt_datatable_search_query"
                name="searchInput"
                [(ngModel)]="searchInput"
                (input)="search($event.target.value)"
              />
                 <span>
                   <i class="flaticon2-search-1 text-muted"></i>
                 </span>
               </div>
             </div>
             
             <div class="col-md-4 my-2 my-md-0">
              <ng-select [items]="months"
              bindLabel="libelle"
              bindValue="value"
              placeholder="Choisir un mois"
              name="dateInput"
              (change)="searchDate($event)"
              [(ngModel)]=dateInput
            >
          </ng-select>
             </div>
           </div>
          </div>
        
        </div>
    </div>
    <!-- fin filtre et recherche -->

    <!--begin::Body-->
    <div class="card-body pt-0 pb-3">
      <div class="tab-content">
        <!--begin::Table-->
        <div class="table-responsive  tab-lg">
          <table
            class="
              table
              table-head-custom
              table-head-bg
              table-borderless
              table-vertical-center
            "
          >
            <thead>
              <tr class="text-left text-uppercase">
                <th style="min-width: 100px">Matricule</th>
                <th style="min-width: 250px" class="pl-7">
                  <span class="text-dark-75">Nom Complet</span>
                </th>

                <!-- <th style="min-width: 100px">Direction</th> -->
                <th style="min-width: 100px">Date de début de Congé</th>
                <th style="min-width: 80px">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
              let c of congeState.data
              | listFilter : searchInput
              | datesearch: dateInput
              | slice: (page-1) * pageSize : page * pageSize
              ; ">
                <td class="py-4">
                  <div class="d-flex align-items-center">
                
                    <div>
                      <span
                        class="
                          text-dark-75
                          font-weight-bolder
                          d-block
                          font-size-lg
                        "
                        >{{ c.agent.matricule }}</span
                      >
                    </div>
                  </div>
                </td>
                <td>
                  <a
                    href="#"
                    class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">{{ c.agent.nom }}
                  </a>
                </td>
             
                <td>
                    <span class="font-weight-bolder text-primary mb-0">
                      {{ c.dateDebut | date }}
                    </span>
                </td>
               
                <td>
                    <button 
                      [disabled]="c.rappel"
                      [routerLink]="[c.id, 'rappeler']" 
                      class="btn btn-outline-secondary px-6 font-weight-bold"
                    >Rappeler</button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <!--end::Table-->
         <!-- debut pagination -->
             
         <div class=" d-flex justify-content-center ">
          <div>
            <ngb-pagination
              [collectionSize]="collectionSize !=0 ? collectionSize : item.length"
              [(page)]="page"
              [maxSize]="5" 
              [pageSize]="pageSize"
              [boundaryLinks]="true"
            ></ngb-pagination>
          </div>
        </div>
       
   
        <!-- fin pagination -->
      </div>
    </div>
    <!--end::Body-->

    <div class="card-header border-0 py-5">
      <h3 class="card-title align-items-start flex-column"></h3>
      <div class="card-toolbar">
       
      </div>
    </div>
  </ng-container>
  <!-- END DATA EXISTS -->
  <ng-template #noData>
    <div class="text-center">
      <p>La liste est vide</p>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngSwitchCase="StateEnum.ERROR">
  <div class="alert alert-danger">{{ congeState.errorMessage }}</div>
</ng-container>
  </ng-container>
  </div>
  <!--end::Advance Table Widget 4-->