
<div class="card card-custom gutter-b">
  <!--begin::Header-->
  <div
    class="
      card-header
      d-flex
      align-items-center
      justify-content-between
      border-0
    "
  >
    <ul class="nav nav-pills nav-pills-sm nav-dark-75">
      <li
        class="nav-item"
        (click)="setCurrentTab('conges')"
        [style.cursor]="'pointer'"
      >
        <a
          class="nav-link py-2 px-4"
          [class.active]="currentTab === 'conges'"
          data-toggle="tab"
          >Conges</a
        >
      </li>
      <li
        class="nav-item"
        (click)="setCurrentTab('recuperations')"
        [style.cursor]="'pointer'"
      >
        <a
          class="nav-link py-2 px-4"
          [class.active]="currentTab === 'recuperations'"
          data-toggle="tab"
          >Recupérations</a
        >
      </li>
    </ul>
  </div>
  <!--end::Header-->
</div>
<ng-container *ngIf="currentTab === 'conges'">
  <app-pose-conges></app-pose-conges>
</ng-container>
<ng-container *ngIf="currentTab === 'recuperations'">
  <app-pose-recup></app-pose-recup>
</ng-container>