<div class="row">
  <div class="col-12 col-md-8">
    <div class="card card-custom">
      <div class="card-header card-header-tabs-line">
        <div class="card-title">
          <h3 class="card-label">Historiques congés</h3>
        </div>
        <div class="card-toolbar">Etat</div>
      </div>
      <ng-container *ngIf="mesConges$ | async as congesState" [ngSwitch]="congesState.state">
          <ng-container *ngSwitchCase="StateEnum.LOADING">
            <div class="d-flex justify-content-center">
              <div class="spinner spinner-primary spinner-lg"></div>
            </div>
          </ng-container>
          
          <ng-container *ngSwitchCase="StateEnum.LOADED">
              <ng-container *ngIf="congesState.data.length; else noData">
                  <div class="card-body pt-0 pb-3">
                      <div class="tab-content">
                        <!--begin::Table-->
                        <div class="table-responsive tab-lg">
                          <table
                            class="
                              table
                              table-head-custom
                              table-head-bg
                              table-vertical-center
                              table-borderless
                            "
                          >
                            <thead>
                              <tr class="bg-gray-100 text-left">
                                <th style="min-width: 130px">Date de départ</th>
                                <th style="min-width: 100px">Nombre de jour</th>
                                <th style="min-width: 130px">Etat</th>
                                <th style="min-width: 130px">Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let c of congesState.data
                              | slice: (page-1) * pageSize : page * pageSize  ">
                                <td>
                                  <span class="font-weight-bolder text-primary mb-0 ml-2">
                                    {{ c.dateDebut | date: "dd/MM/YYYY" }}
                                  </span>
                                </td>
                                <td class="text-center">
                                  <span class="font-weight-bolder mb-0">
                                    {{ c.nombreJourConge }}
                                  </span>
                                </td>
                                <td>
                                  <!-- <span class="label label-lg label-light-warning label-inline">En cours</span> -->
                                  <ng-container [ngSwitch]="c.tracker.step">
                                    <span *ngSwitchCase="1" class="label label-lg label-light-warning label-inline">En cours</span>
                                    <span *ngSwitchCase="0" class="label label-lg label-light-danger label-inline">Rejetée</span>
                                    <span *ngSwitchCase="2" class="label label-lg label-light-success label-inline">Validée</span>
                                    <span *ngSwitchCase="3" class="label label-lg label-success label-inline">Clôturée</span>
                                  </ng-container>
                                </td>
                                <td>
                                  <!-- [routerLink]="[c.id, 'reprogrammer']"
                                  [disabled]="c.tracker.step === 3" -->
                                  <button 
                                      class="btn btn-outline-secondary"
                                      data-toggle="tooltip"
                                      title="Reprogrammation"
                                      [disabled]="disablePoseConge(c)"
                                      (click)="choisirConge(c)"
                                  >
                                      <span class="svg-icon svg-icon-md svg-icon-primary">
                                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/Settings-1.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"></rect>
                                            <path d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z" fill="#000000"></path>
                                            <path d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z" fill="#000000" opacity="0.3"></path>
                                          </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                      </span>
                                    </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--end::Table-->
                              <!-- debut pagination -->
             
         <div class=" d-flex justify-content-center ">
          <div>
            <ngb-pagination
              [collectionSize]="congesState.data.length"
              [(page)]="page"
              [maxSize]="5" 
              [pageSize]="pageSize"
              [boundaryLinks]="true"
            ></ngb-pagination>
          </div>
        </div>
       
   
        <!-- fin pagination -->
   
                      </div>
                    </div>
              </ng-container>
              <ng-template #noData>
                  <div class="text-center">
                      <p>Vous n'avez pas encore de congé.</p>
                    </div>
              </ng-template>
          </ng-container>

          <ng-container *ngSwitchCase="StateEnum.ERROR">

          </ng-container>
      </ng-container>
      
    </div>
  </div>

  <div class="col-12 col-md-4">
    <!-- <div class="card card-custom rounded-xl bg-secondary">
      <div class="card-body d-flex justify-content-center py-5">
        <h3 class="text-white">
          <span class="icon">
            <i class="flaticon2-chronometer text-white"></i>
          </span>
          Compteur : {{ nombreJourCongeActuel() }} {{ nombreJourCongeActuel() > 1 ? 'jours' : 'jour'}}
        </h3>
      </div>
    </div> -->
    <div class="card card-custom my-3">
      <div class="card-header d-flex justify-content-between border-0 py-5">
        <h3>Demande de congé</h3>
        <span class="font-weight-bolder label label-light-primary label-inline px-3 py-5">{{ nombreJourCongeActuel() }} {{ nombreJourCongeActuel() > 1 ? 'jours' : 'jour' }}</span>
      </div>
      <div class="card-body">
        <form [formGroup]="formConge" (ngSubmit)="updateConge()">
          <div class="form-group">
            <label> Nombre de jour</label>
            <input
              type="number"
              formControlName="nombreJourConge"
              class="form-control form-control-solid"
              placeholder="Entrez le nombre de jour"
            />
          </div>
          <div class="form-group">
            <label> Date de départ</label>
            <div class="d-flex">
              <input
                class="form-control form-control-solid"
                [disabled]="true"
                formControlName="dateDebut"
                placeholder="01/02/2021"
                matInput
                [matDatepicker]="picker"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>

          <div class="form-group float-right">
            <button [disabled]="formConge.invalid" class="btn btn-light-secondary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>