
.general-row{
    // background-image: url('../../../assets/images/Top.jpeg');
   // background-color: #fcfcfc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    border-radius: 3px 3px 3px 3px;
}
.shadow{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.col-header-1, .col-header-2, .col-header-3, .col-header-4{
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    .svg-icon{
        svg{
            position: relative;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            
        }
    }

    a {
        h6{
            position: relative;
            text-align: center;
            font-size: 12px;
            margin: 0px;
        }
    }
}

// .col-header-1-number {
//     position: relative;
//     background: #6B96FB;
//     margin-left: auto;
//     display: none;
// }

// .col-header-2-number {
//     position: relative;
//     background: #FCBB5C;
//     margin-left: auto;
//     display: none;
// }

// .col-header-3-number {
//     position: relative;
//     background: #F24F63;
//     margin-left: auto;
//     display: none;
// }

// .col-header-4-number {
//     position: relative;
//     background: #203A73;
//     margin-left: auto;
//     display: none;
// }

.col-body-1, .col-body-2, .col-body-3{
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.col-body-1{
    background: #C9F7F5;
}

.col-body-2{
    background: #FFF4DE;
}

.col-body-3{
    background: #FFE2E6;
}

.col-body-1:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #203A73;
    color: #FFC0CB;
}

.col-body-2:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #203A73;
    color: #FFC0CB;
}

.col-body-3:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #203A73;
    color: #FFC0CB;
}
.col-body-3 [data-theme="theme-bleu"] a:after {
  border-top-color: #38b1e8;
  border-right-color: #38b1e8;
}
/* Wobble Vertical */
// @-webkit-keyframes hvr-wobble-vertical {
//     16.65% {
//       -webkit-transform: translateY(8px);
//       transform: translateY(8px);
//     }
//     33.3% {
//       -webkit-transform: translateY(-6px);
//       transform: translateY(-6px);
//     }
//     49.95% {
//       -webkit-transform: translateY(4px);
//       transform: translateY(4px);
//     }
//     66.6% {
//       -webkit-transform: translateY(-2px);
//       transform: translateY(-2px);
//     }
//     83.25% {
//       -webkit-transform: translateY(1px);
//       transform: translateY(1px);
//     }
//     100% {
//       -webkit-transform: translateY(0);
//       transform: translateY(0);
//     }
//   }

// @keyframes hvr-wobble-vertical {
//     16.65% {
//       -webkit-transform: translateY(8px);
//       transform: translateY(8px);
//     }
//     33.3% {
//       -webkit-transform: translateY(-6px);
//       transform: translateY(-6px);
//     }
//     49.95% {
//       -webkit-transform: translateY(4px);
//       transform: translateY(4px);
//     }
//     66.6% {
//       -webkit-transform: translateY(-2px);
//       transform: translateY(-2px);
//     }
//     83.25% {
//       -webkit-transform: translateY(1px);
//       transform: translateY(1px);
//     }
//     100% {
//       -webkit-transform: translateY(0);
//       transform: translateY(0);
//     }
//   }
//   .hvr-wobble-vertical {
//     display: inline-block;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//   }
//   .hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
//     -webkit-animation-name: hvr-wobble-vertical;
//     animation-name: hvr-wobble-vertical;
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//     -webkit-animation-iteration-count: 1;
//     animation-iteration-count: 1;
//   }

  /* Sweep To Left */
.col-header-1, .col-header-2, .col-header-3, .col-header-4  {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    letter-spacing: 0.1em;
  }

  .col-header-1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: #c9d7f5;
    background: #6B96FB;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

        path{
          fill: white;
        }
  
    // border-radius: 3px 3px 3px 3px;
  }

  .col-header-1:hover,.col-header-2:hover,.col-header-3:hover,.col-header-4:hover {
      .a {
        display: none;
      }

      .col-header-1-number {
        display: block;
        // background: #6B96FB;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: white;
      }

      .col-header-2-number {
        display: block;
        // background: #FCBB5C;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: white;
      }

      .col-header-3-number {
        display: block;
        // background: #F24F63;

        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: white;
      }

      .col-header-4-number {
        display: block;
        // background: #203A73;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        color: white;
      }
  }

  .col-header-2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: #FFF4DE;
    background: #FCBB5C;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    // border-radius: 12px 12px 12px 12px;
  }
  .col-header-3:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: #FFE2E6;
    background: #F24F63;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    // border-radius: 12px 12px 12px 12px;
  }
  .col-header-4:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: #bccff6;

    background: #203A73;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    // border-radius: 12px 12px 12px 12px;
  }

  .col-header-1:hover, .col-header-1:focus, .col-header-1:active {
    color: white;
  }
  .col-header-2:hover, .col-header-2:focus, .col-header-2:active {
    color: white;
  }
  .col-header-3:hover, .col-header-3:focus, .col-header-3:active {
    color: white;
  }
  .col-header-4:hover, .col-header-4:focus, .col-header-4:active {
    color: white;
  }

  .col-header-1:hover:before, .col-header-1:focus:before, .col-header-1:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .col-header-2:hover:before, .col-header-2:focus:before, .col-header-2:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .col-header-3:hover:before, .col-header-3:focus:before, .col-header-3:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .col-header-4:hover:before, .col-header-4:focus:before, .col-header-4:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  /* Icon Up */
  @-webkit-keyframes hvr-icon-up {
    0%,
      50%,
      100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
      75% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hvr-icon-up {
    0%,
      50%,
      100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
      75% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  /* Icon Up */
  .hvr-icon-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-icon-up .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .hvr-icon-up:hover .hvr-icon, .hvr-icon-up:focus .hvr-icon, .hvr-icon-up:active .hvr-icon {
    -webkit-animation-name: hvr-icon-up;
    animation-name: hvr-icon-up;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

// .red{
//   background-color: red;
  
// }

// .green{
//   background-color: green;
// }

.jaune{
 // background-color: #FCBB5C;
  width: 115%;
  margin-left: -7.5%;
}

h3{
  text-align: center;
  color: #79818a;
}

.triangle
 { 
  width: 0; 
  height: 0; 
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid black;
  float: right;

  }

  .top_color_1 {
    border-top-color: #6B96FB;
  }
  .top_color_2 {
    border-top-color: #FCBB5C;
  }
  .top_color_3 {
    border-top-color:#F24F63 ;
  }

  
  .top_color_4 {
    border-top-color: #203A73;
  }

  .color_1 {
    color: #6B96FB;
  }
  .color_2 {
   color: #FCBB5C;
  }
  .color_3 {
    color:#F24F63 ;
  }

  
  .color_4 {
    color: #203A73;
  }
