  <!--begin::Container-->
  <div class="container-fluid jaune">
    <!--begin::Dashboard-->
    <!--begin::Row-->
    <div class="row row mx-md-n5">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class=" col-12 col-header-1 pb-2 hvr-wobble-vertical bg-white  pt-4 rounded-sm mb-7"  (mouseenter)="changeColor(svg1)" (mouseleave)="retablirColor(svg1, '#6B96FB')">
                    <div class="triangle top_color_1"></div>
                    <span
                      class="svg-icon svg-icon-3x svg-icon-warning d-block mt-10 mb-4"
                    >
                      <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.6667 8.833H24.7C24 7.18986 22.1667 6 20 6C17.8333 6 16 7.18986 15.3 8.833H8.33333C6.5 8.833 5 10.1079 5 11.666V31.497C5 33.0551 6.5 34.33 8.33333 34.33H31.6667C33.5 34.33 35 33.0551 35 31.497V11.666C35 10.1079 33.5 8.833 31.6667 8.833ZM21.6667 30.0805H18.3333V27.2475H21.6667V30.0805ZM21.6667 24.4145H18.3333V15.9155H21.6667V24.4145ZM20 11.666C19.0833 11.666 18.3333 11.0286 18.3333 10.2495C18.3333 9.47042 19.0833 8.833 20 8.833C20.9167 8.833 21.6667 9.47042 21.6667 10.2495C21.6667 11.0286 20.9167 11.666 20 11.666Z" #svg1 [attr.fill]="'#6B96FB'"/>
                      </svg>
                      <!--end::Svg Icon-->
                    </span>
                    <a class="col-xs-2 font-weight-bold" style="color:black; text-decoration: none;"
                      ><h3>Absences</h3> 
                    </a>
                    <div class="row">
                      <span class="col col-header-1-number text-center color_1 rounded-xl font-weight-bold"><h1>05</h1></span>
                    </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="col-12 col-header-2 hvr-wobble-vertical  pt-4 bg-white rounded-sm mb-7"  (mouseenter)="changeColor(svg2)" (mouseleave)="retablirColor(svg2, '#FCBB5C')">
                    <div class="triangle top_color_2"></div>
                    <span
                      class="svg-icon svg-icon-3x svg-icon-primary d-block mt-10 mb-4"
                    >
                      <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.6666 33.3333V23.3333H23.3333V33.3333H31.6666V20H36.6666L19.9999 5L3.33325 20H8.33325V33.3333H16.6666Z" #svg2 fill="#FCBB5C"/>
                        </svg>
                      <!--end::Svg Icon-->
                    </span>
  
                    <a class="font-weight-bold" style="color:black; text-decoration: none;"
                      ><h3>Congés</h3></a
                    >
                    <div class="row">
                      <span class="col col-header-2-number text-center color_2 rounded-xl font-weight-bold"><h1>30</h1></span>
                    </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="col-12 col-header-3 hvr-wobble-vertical pt-4 bg-white rounded-sm mb-7"  (mouseenter)="changeColor(svg3)" (mouseleave)="retablirColor(svg3, '#F24F63')" >
              <div class="triangle top_color_3"></div>
              <span
                class="svg-icon svg-icon-3x svg-icon-success d-block mt-10 mb-4"
              >
                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Urgent-mail.svg-->
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.9999 5L8.33325 11.65H13.3333V23.3333H16.6666V11.65H21.6666L14.9999 5ZM26.6666 28.35V16.6667H23.3333V28.35H18.3333L24.9999 35L31.6666 28.35H26.6666Z" #svg3 fill="#F24F63"/>
                  </svg>
                <!--end::Svg Icon-->
              </span>
              <div class="row">
                <a class="col-xs-2 col-sm-12 font-weight-bold" style="color:black; text-decoration: none;"
                ><h3>Récupérations</h3>
              </a>
              </div>
              <div class="row">
                <span class="col col-header-3-number text-center color_3 rounded-xl font-weight-bold"><h1>30</h1></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="col-12 col-header-4 hvr-wobble-vertical pt-4 bg-white rounded-sm mb-7"  (mouseenter)="changeColor(svg4)" (mouseleave)="retablirColor(svg4, '#203A73')">
              <div class="triangle top_color_4"></div>
              <span
                class="svg-icon svg-icon-3x svg-icon-danger d-block mt-10 mb-4"
              >
                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M31.6667 5H8.33333C6.48333 5 5 6.5 5 8.33333V31.6667C5 33.5 6.48333 35 8.33333 35H31.6667C33.5 35 35 33.5 35 31.6667V8.33333C35 6.5 33.5 5 31.6667 5ZM28.3333 21.6667H21.6667V28.3333H18.3333V21.6667H11.6667V18.3333H18.3333V11.6667H21.6667V18.3333H28.3333V21.6667Z" #svg4 fill="#203A73"/>
                  </svg>
                <!--end::Svg Icon-->
              </span>
              <a class="font-weight-bold" style="color:black; text-decoration: none;"
                ><h3>Heures-Supp</h3>
              </a>
              <div class="row">
                <span class="col col-header-4-number text-center color_4 rounded-xl font-weight-bold"><h1>30</h1></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="col-12 col-header-3 hvr-wobble-vertical pt-4 bg-white rounded-sm mb-7"   (mouseenter)="changeColor(svg7)" (mouseleave)="retablirColor(svg7, '#F24F63')">
              <div class="triangle top_color_3"></div>
              <span
                class="svg-icon svg-icon-3x svg-icon-success d-block mt-10 mb-4"
              >
                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Urgent-mail.svg-->
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.9999 5L8.33325 11.65H13.3333V23.3333H16.6666V11.65H21.6666L14.9999 5ZM26.6666 28.35V16.6667H23.3333V28.35H18.3333L24.9999 35L31.6666 28.35H26.6666Z" #svg7 fill="#F24F63"/>
                  </svg>
                <!--end::Svg Icon-->
              </span>
              <div class="row">
                <a class="col-xs-2 col-sm-12 font-weight-bold" style="color:black; text-decoration: none;"
                ><h3>Récupérations</h3>
              </a>
              </div>
              <div class="row">
                <span class="col text-center color_3 rounded-xl font-weight-bold"><h1>&nbsp;</h1></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="col-12 col-header-4 hvr-wobble-vertical pt-4 bg-white rounded-sm mb-7"  (mouseenter)="changeColor(svg8)" (mouseleave)="retablirColor(svg8, '#203A73')">
              <div class="triangle top_color_4"></div>
              <span
                class="svg-icon svg-icon-3x svg-icon-danger d-block mt-10 mb-4"
              >
                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Layers.svg-->
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M31.6667 5H8.33333C6.48333 5 5 6.5 5 8.33333V31.6667C5 33.5 6.48333 35 8.33333 35H31.6667C33.5 35 35 33.5 35 31.6667V8.33333C35 6.5 33.5 5 31.6667 5ZM28.3333 21.6667H21.6667V28.3333H18.3333V21.6667H11.6667V18.3333H18.3333V11.6667H21.6667V18.3333H28.3333V21.6667Z" #svg8 fill="#203A73"/>
                  </svg>
                <!--end::Svg Icon-->
              </span>
              <a class="font-weight-bold" style="color:black; text-decoration: none;"
                ><h3>Heures-Supp</h3>
              </a>
              <div class="row">
                <span class="col text-center color_4 rounded-xl font-weight-bold"><h1>&nbsp;</h1></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="col-12  col-header-2 hvr-wobble-vertical pt-4 bg-white rounded-sm mb-7"  (mouseenter)="changeColor(svg6)" (mouseleave)="retablirColor(svg6, '#FCBB5C')">
              <div class="triangle top_color_2"></div>
              <span
                class="svg-icon svg-icon-3x svg-icon-primary d-block mt-10 mb-4"
              >
                <!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Add-user.svg-->
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.6666 33.3333V23.3333H23.3333V33.3333H31.6666V20H36.6666L19.9999 5L3.33325 20H8.33325V33.3333H16.6666Z" #svg6 fill="#FCBB5C"/>
                  </svg>
                <!--end::Svg Icon-->
              </span>

              <a class="font-weight-bold" style="color:black; text-decoration: none;"
                ><h3>Congés</h3></a
              >
              <div class="row">
                <span class="col text-center color_2 rounded-xl font-weight-bold"><h1>&nbsp;</h1></span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="col-12 col-header-1  hvr-wobble-vertical bg-white pt-2 pb-2 rounded-sm  mb-7"  (mouseenter)="changeColor(svg5)" (mouseleave)="retablirColor(svg5, '#6B96FB')">
                    <div class="triangle top_color_1"></div>
                    <span
                      class="svg-icon svg-icon-3x svg-icon-warning d-block mt-10 mb-4"
                    >
                      <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M31.6667 8.833H24.7C24 7.18986 22.1667 6 20 6C17.8333 6 16 7.18986 15.3 8.833H8.33333C6.5 8.833 5 10.1079 5 11.666V31.497C5 33.0551 6.5 34.33 8.33333 34.33H31.6667C33.5 34.33 35 33.0551 35 31.497V11.666C35 10.1079 33.5 8.833 31.6667 8.833ZM21.6667 30.0805H18.3333V27.2475H21.6667V30.0805ZM21.6667 24.4145H18.3333V15.9155H21.6667V24.4145ZM20 11.666C19.0833 11.666 18.3333 11.0286 18.3333 10.2495C18.3333 9.47042 19.0833 8.833 20 8.833C20.9167 8.833 21.6667 9.47042 21.6667 10.2495C21.6667 11.0286 20.9167 11.666 20 11.666Z" #svg5 fill="#6B96FB"/>
                      </svg>
                      <!--end::Svg Icon-->
                    </span>
                    <a class="col-xs-2 font-weight-bold" style="color:black; text-decoration: none;"
                      ><h3>Reporting</h3> 
                    </a>
                    <div class="row">
                      <span class="col text-center color_1 rounded-xl font-weight-bold"><h1>&nbsp;</h1></span>
                    </div>
            </div>
          </div>
      <!--end::Dashboard-->
    </div>
    <!--end::Container-->
    <div class="row m-0">
      <div class="col-md-12 col-lg-6 col-sm-12">
        <div class="col-12 shadow bg-white rounded-sm">
          <app-spiderchart></app-spiderchart>    
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-sm-12" >
        <div class="col-md-12 shadow bg-white rounded-sm">
          &nbsp;   
        </div>
      </div>
    </div> 
  </div>    