<!--begin::Brand-->

<div
  class="brand aside-brand-bg flex-column-auto"
  id="kt_brand"
  [ngClass]="brandClasses"
>
  <!--begin::Logo-->
  <!-- <a routerLink="/">
    <h4>Portail RH</h4>
  </a> -->
  <a routerLink="/" class="brand-logo">
    <img alt="Logo" [attr.src]="headerLogo" />
    <span>SenRH</span>
  </a>
  <!--end::Logo-->

  <ng-container *ngIf="asideSelfMinimizeToggle">
    <button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
      <span
        [inlineSVG]="
          './assets/media/svg/icons/Navigation/Angle-double-left.svg'
        "
        cacheSVG="true"
        class="svg-icon svg-icon-xl"
      ></span>
    </button>
  </ng-container>
</div>
<!--end::Brand-->

<!--begin::Aside Menu-->
<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
  <ng-container *ngIf="disableAsideSelfDisplay">
    <!--begin::Header Logo-->
    <a routerLink="/">
      <img alt="Logo" [attr.src]="headerLogo" />
    </a>
    <!--end::Header Logo-->
  </ng-container>
  <!--begin::Menu Container-->
  <div
    id="kt_aside_menu"
    class="aside-menu"
    [ngClass]="asideMenuCSSClasses"
    data-menu-vertical="1"
    [attr.data-menu-scroll]="asideMenuScroll"
    [attr.data-menu-dropdown]="asideMenuDropdown"
    data-menu-dropdown-timeout="500"
  >
    <!-- begin::Menu Nav -->
    <ul class="menu-nav" [ngClass]="ulCSSClasses">
      <!-- begin::1 Level -->
      <li
        class="menu-item"
        aria-haspopup="true"
        routerLinkActive="menu-item-active"
      >
        <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text" translate="MENU.DASHBOARD"></span>
        </a>
      </li>
      <!-- end::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"  routerLinkActive="menu-item-active" >
        <a  class="menu-link" routerLink="/reporting/dashboard" routerLinkActive="active">
          <span
          [inlineSVG]="'./assets/media/svg/icons/Design/Difference.svg'"
          cacheSVG="true"
          class="svg-icon menu-icon"
        ></span>
       
          <span class="menu-text">Reporting</span>
          <!-- <i class="menu-arrow"></i> -->
        
        </a>
       
      </li>
      <!-- begin::1 Level -->
      <li
        class="menu-item menu-item-submenu"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-open"
      >
        <a class="menu-link menu-toggle" routerLinkActive="active">
          <span
            [inlineSVG]="'./assets/media/svg/icons/Shopping/Cart3.svg'"
            cacheSVG="true"
            class="svg-icon menu-icon"
          ></span>
          <span class="menu-text">Congés</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu">
          <i class="menu-arrow"></i>
          <ul class="menu-subnav">
            <!-- begin::2 Level -->
            <li
              *ngIf="
                isVisible([
                  'ROLE_MANAGER',
                  'ROLE_DIRECTEUR',
                  'ROLE_DRHT',
                  'ROLE_MANAGER_PAIE'
                ])
              "
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/conges/planifications"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Planification</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level -->
            <li
              *ngIf="
                isVisible([
                  'ROLE_MANAGER',
                  'ROLE_DIRECTEUR',
                  'ROLE_MANAGER_PAIE',
                  'ROLE_DRHT'
                ])
              "
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/conges/rappels"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Rappel</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level -->
            <li
              *ngIf="isVisible(['ROLE_DIRECTEUR', 'ROLE_DRHT'])"
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/conges/validations"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Validation</span>
              </a>
            </li>
            <!-- end::2 Level -->

            <!-- begin::2 Level -->
            <li
              *ngIf="isVisible(['ROLE_DRHT', 'ROLE_AGENT_PAIE', 'ROLE_MANAGER_PAIE'])"
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/conges/paye"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Gestion paie</span>
              </a>
            </li>
            <!-- end::2 Level -->
            <!-- begin::2 Level -->
            <li
              class="menu-item"
              aria-haspopup="true"
              data-menu-toggle="hover"
              routerLinkActive="menu-item-active"
            >
              <a
                class="menu-link"
                routerLink="/conges/demandes"
                routerLinkActive="active"
              >
                <i class="menu-bullet menu-bullet-dot">
                  <span></span>
                </i>
                <span class="menu-text">Demandes</span>
              </a>
            </li>
            <!-- end::2 Level -->
          </ul>
        </div>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"  routerLinkActive="menu-item-active" >
        <a  class="menu-link" routerLink="deplacements" routerLinkActive="active">
          <span
          [inlineSVG]="'./assets/media/svg/icons/General/Edit.svg'"
          cacheSVG="true"
          class="svg-icon menu-icon"
        ></span>
       
          <span class="menu-text">Mes déplacements</span>
          <!-- <i class="menu-arrow"></i> -->
        
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"  routerLinkActive="menu-item-active" >
        <a  class="menu-link" routerLink="heuresupp" routerLinkActive="active">
          <span
          [inlineSVG]="'./assets/media/svg/icons/General/Other1.svg'"
          cacheSVG="true"
          class="svg-icon menu-icon"
        ></span>
       
          <span class="menu-text">Heures supplémentaires</span>
          <!-- <i class="menu-arrow"></i> -->
        
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"  routerLinkActive="menu-item-active" >
        <a  class="menu-link" routerLink="carriere" routerLinkActive="active">
          <span
          [inlineSVG]="'./assets/media/svg/icons/General/Thunder.svg'"
          cacheSVG="true"
          class="svg-icon menu-icon"
        ></span>
       
          <span class="menu-text">Carrière</span>
          <!-- <i class="menu-arrow"></i> -->
        
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"  routerLinkActive="menu-item-active" >
        <a  class="menu-link" routerLink="abscences" routerLinkActive="active">
          <span
          [inlineSVG]="'./assets/media/svg/icons/Tools/Pantone.svg'"
          cacheSVG="true"
          class="svg-icon menu-icon"
        ></span>
       
          <span class="menu-text">Abscences</span>
          <!-- <i class="menu-arrow"></i> -->
        
        </a>
      </li>
      <!-- end::1 Level -->

      <!-- begin::1 Level -->
      <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover"  routerLinkActive="menu-item-active" >
        <a  class="menu-link" routerLink="formations" routerLinkActive="active">
          <span
          [inlineSVG]="'./assets/media/svg/icons/Tools/Tools.svg'"
          cacheSVG="true"
          class="svg-icon menu-icon"
        ></span>
       
          <span class="menu-text">Mes Formations</span>
          <!-- <i class="menu-arrow"></i> -->
        
        </a>
      </li>
      <!-- end::1 Level -->

      <!--  div document  -->
      <li
        class="menu-item foot"
        aria-haspopup="true"
        data-menu-toggle="hover"
        routerLinkActive="menu-item-active"
      >
        <a
          href="javascript:;"
          class="menu-link menu-toggle"
          routerLink="/box"
          routerLinkActive="active"
        >
          <span class="svg-icon menu-icon">
            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/Upload.svg-->
            <i class="fas fa-clone"></i>
            <!--end::Svg Icon-->
          </span>
          <span class="menu-text">Sen Box</span>
          <span class="menu-label">
            <span class="label label-rounded label-primary label-nombre"
              >1</span
            >
          </span>
        </a>
      </li>
      <!--  fin div  document  -->
    </ul>
    <!-- end::Menu Nav -->
  </div>
  <!--end::Menu Container-->
</div>
<!--end::Aside Menu-->
