$bg-color: #203A73;

:host {
  .aside {
    height: 100%;

    .aside-menu {
      margin: 0;
      background-color: $bg-color !important;
    }
  }
  // .aside-menu {
  //   margin: 0;
  //   background-color: #203A73 !important;
  // }

  // fixed text line break issue on minimized aside hover
  .menu-text {
    white-space: nowrap;
  }
  .foot{
    position:absolute;
    bottom:0;
    right: 0;
    left: 0;
    //background-color: #99BC47;
    .menu-text{
      font-weight: bold;
      font-size: 1.5em;
      color: white;
    }
    .label-nombre{
      font-weight: bold;
      font-size:1.2em;
    }
    
  }
}

.aside-brand-bg {
  // background-color: $bg-color !important;
  background-color: darken($bg-color, 5%);
}

.aside-menu {
  background-color: $bg-color !important;
  
  .menu-nav > .menu-item.menu-item-here,
  .menu-item.menu-item-active > .menu-link,
  .menu-item.menu-item-open > .menu-link {
    // background-color: #99BC47;
    background-color: darken($bg-color, 5%);
  }
  
  .menu-item .menu-submenu .menu-item > .menu-link:hover,
  // .menu-nav > .menu-item > .menu-heading:hover,
  .menu-nav > .menu-item > .menu-link:hover {
    background-color: darken($bg-color, 5%) !important;
  }
}

