<!--begin::Advance Table Widget 4-->
<div class="card card-custom gutter-b">
    <!--begin::Header-->
    <div class="card-header d-flex align-items-center justify-content-between border-0 py-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label font-weight-bolder text-dark"
          >Rappeler un Employé </span
        >
      </h3>
      <a routerLink="/conges/rappels">
        <span class="text-primary"><i class="fas fa-times"></i></span>      
      </a>
    </div>
    <!--end::Header-->
   
    <div class="d-flex flex-row">
        <!--begin::Aside-->
        <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
            <!--begin::Profile Card-->
            <div class="card card-custom card-stretch">
                <!--begin::Body-->
                <div class="card-body pt-4">
                   
                    <!--begin::User-->
                    <div class="d-flex align-items-center">
                        <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                            <div class="symbol-label" style="background-image:url('assets/media/users/avatar.png')"></div>
                            <i class="symbol-badge bg-success"></i>
                        </div>
                        <div>
                            <a  class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">{{nomComplet}}</a>
                            <!-- <div class="text-muted">Ingénieur Informaticien</div> -->
                            
                        </div>
                    </div>
                    <!--end::User-->
                    <!--begin::Contact-->
                    <div class="py-9">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <span class="font-weight-bold mr-2">Matricule:</span>
                            <a  class="text-muted text-hover-primary">{{matricule}}</a>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <span class="font-weight-bold mr-2">Établissement</span>
                            <span class="text-muted">{{etablissement}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="font-weight-bold mr-2">Direction:</span>
                            <span class="text-muted">{{direction}}</span>
                        </div>
                    </div>
                    <!--end::Contact-->
                  
                </div>
                <!--end::Body-->
            </div>
            <!--end::Profile Card-->
        </div>
        <!--end::Aside-->
        <!--begin::Content-->
        <div class="flex-row-fluid mx-3 py-5">
            <!--begin::Form-->
            <form class="form" [formGroup]="formRappel" (ngSubmit)="Rappeler()" >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-number-input" class="col-form-label font-weight-bold ">Rappeler au bout de : </label>
                            <div class="">
                                <input class="form-control" type="number"  id="example-number-input" formControlName="rappeleApres" name="rappeleApres" [(ngModel)]="rappeleApres" 
                                [ngClass]="{'is-invalid': submitted && f.rappeleApres.errors }"
                                (keyup)="onKey($event)"
                                >
                            </div>
                            <div class="text-danger" *ngIf="f.rappeleApres.invalid && (f.rappeleApres.dirty || f.rappeleApres.touched)">
                                <div *ngIf="f.rappeleApres.errors.required">Ce champ est recquis</div>
                                <div *ngIf="f.rappeleApres.errors.min">nombre minimum 12 </div>
                                <div *ngIf="f.rappeleApres.errors.max">nombre maximum {{nbrJrConge}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="example-date-input" class=" col-form-label font-weight-bold ">Date de retour</label>
                            <div class=" d-flex">
                                <input class="form-control"  formControlName="dateRetour" matInput [matDatepicker]="picker" [matDatepickerFilter]="datesFilter" placeholder="Choisir une date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker ></mat-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="example-number-input" class="col-form-label font-weight-bold ">Rappeler pour n jour(s) : </label>
                            <input class="form-control" type="number" formControlName="rappelePour" name="rappelePour"  [ngClass]="{'is-invalid': submitted && f.rappelePour.errors }" >
                            <div class="text-danger" *ngIf="f.rappelePour.invalid && (f.rappelePour.dirty || f.rappelePour.touched)">
                                <div *ngIf="f.rappelePour.errors.required">Ce champ est recquis</div>
                                <div *ngIf="f.rappelePour.errors.min">nombre minimum 1 </div>
                                <div *ngIf="f.rappelePour.errors.max">nombre maximum {{nbrJrConge-rappeleApres}} </div>
                            </div>   
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="exampleTextarea" class="font-weight-bold">Motif</label>
                            <div class="d-flex">
                                <textarea class="form-control form-control-solid" rows="3" formControlName="motif" name="motif"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12 card-toolbar d-flex justify-content-center">
                        <button type="submit" [disabled]="formRappel.invalid" class="btn btn-primary">Valider</button>
                        <button routerLink="/conge" class="btn btn-danger mx-3">Annuler</button>
                    </div>
                </div>

                    
            </form>
            <!--end::Form-->
        </div>
        <!--end::Content-->
    </div>
    


    
</div>